<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\API_Projects\Language Detection\myenv\Scripts\wfastcgi.exe" resourceType="Either" />
        </handlers>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="wsgi.app" />
    </appSettings>
</configuration>
